<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="APAS.CoreLib" version="1.1.0.7" targetFramework="net48" />
  <package id="APAS.Plugin.Sdk" version="1.1.0.39" targetFramework="net48" />
  <package id="APAS.ServiceContract" version="1.1.0.46" targetFramework="net48" />
  <package id="APAS__PluginContract" version="1.0.21.26" targetFramework="net48" />
  <package id="APAS__SystemServiceContract" version="1.0.29.36" targetFramework="net48" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net48" />
</packages>